@CHARSET "ISO-8859-1";

#ContactCaptcha_CaptchaImageDiv, #ContactCaptcha_CaptchaIconsDiv{
	display: block;
	float: left;
}

.challenge-team-field{
	display: none;
}

.toast{
	font-size: 14px;
}

.full-width {
	width: 100% !important;
}
.no-margin {
	margin: 0;
}

.conversion {
	border: 1px solid;
	margin: 0 5px;
}

h3.card-header {
	background-color: #f5f5f5;
	font-size: 19px;
	font-weight: bold;
	line-height: 0;
	padding: 25px 10px;
	width: 100%;
}

.card-block {
	 padding: 10px;
}

.progress {
	margin:0px; 
	display:none;
}

.blog p{
	color: #fff;
}

button.esc-challenge-date-active.challengr-btn{
    background: #f00;
    border: 0;
    border-radius: 3px;
    padding: 8px 20px;
    color: #fff;
    width: 100%;
    transition: ease 0.4s;
}

ul.timing li.esc-challenge-time-active{
    background: #f00;
    color: #fff;
}

#coinMoney{
	padding: 10px;
}

/*----------------------- My Challenge Page ----------------------- Start*/
.challenge-captain-image{
	width:86px;
	height: 86px;
	border-radius: 50%;
}

.challenge-team-image{
	width:66px;
	height: 67px;
	border-radius: 50%;	
}

.first-challenge-left-blog  ul.ui-autocomplete li {
	list-style: inherit;
	float: none;
	text-align: left;
}

a.add-team-player{
	position: relative;
	z-index: 2;
}
/*----------------------- My Challenge Page ----------------------- End*/


/*----------------------- Add Friend Popup ----------------------- Start*/
.searchResults .player-image{
	float:none;
	margin-right:0px;
}

.searchResults .player-informations{
	float:none;
}

.searchResults img {
    margin: 0 auto;
    display: block;
}

.searchResults .player-informations h2 {
    text-align: center;
	margin-top:5px;
	color: #d84c21;
}
.searchResults .player-section{
	width: 100%;
}
div.searchResults {
    overflow: hidden;
    margin-top: 10px;
    text-align: center;
}

.searchResults #message{
	margin-top: 25px;
	color: #FFFFFF;
}
/*----------------------- Add Friend Popup ----------------------- End*/

ul#dropdown2{
    top:auto !important;
    width: 40% !important;
}

.notification-btn{
	display:inline !important;
	width: 100px !important;
}

.text-center{
	text-align: center !important;
}

.friend-img{
	width: 75%;
}