@CHARSET "ISO-8859-1";

#ContactCaptcha_CaptchaImageDiv, #ContactCaptcha_CaptchaIconsDiv{
	display: block;
	float: left;
}

.challenge-team-field{
	display: none;
}

.toast{
	font-size: 14px;
}

.full-width {
	width: 100% !important;
}
.no-margin {
	margin: 0;
}

.conversion {
	border: 1px solid;
	margin: 0 5px;
}

h3.card-header {
    background-color: #f5f5f5;
    font-size: 19px;
    font-weight: bold;
    line-height: 0;
    padding: 25px 10px;
    width: 100%;
}

.card-block {
	 padding: 10px;
}

.progress {
	margin:0px; 
	display:none;
}